:root {
  --cl-light-green: oklch(76.5% 0.177 163.223);
  --cl-green: oklch(62.7% 0.194 149.214);
  --cl-cyan: oklch(68.5% 0.169 237.323);
  --cl-yellow: oklch(90.5% 0.182 98.111);
  --cl-orange: oklch(76.9% 0.188 70.08);
  --cl-pink: oklch(80.8% 0.114 19.571);
  --cl-red: oklch(63.7% 0.237 25.331);
}

body {
  font-family: 'Inter', sans-serif;
}

.font-mono {
  font-family: 'Roboto Mono', monospace;
}

.message-box-enter {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.message-box-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.message-box-exit {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.message-box-exit-active {
  opacity: 0;
  transform: translateY(20px);
}

#chartContainer {
  min-height: 300px;
}

.bar-swapping {
  transition: height 0.3s ease-in-out, backgroung-color 0.3s ease-in-out !important;
  background-color: #fbbf24 !important;
}